@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-exact-active {
    --tw-text-opacity: 1;
    color: rgb(255 45 32 / var(--tw-text-opacity));
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}

.alert-warning {
    color: #5c4918;
    background-color: #efe8d5;
    border-color: #e9dfc5;
}
.alert-warning hr {
    border-top-color: #e2d5b3;
}
.alert-warning .alert-link {
    color: #34290d;
}

.graph {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Graph states **/

.graph .status-pending > rect{
    fill: #ebf8ff !important;
    stroke: #4299e1 !important;
    color: #4299e1 !important;
    stroke-dasharray: 5 5;
}

.graph .status-finished > rect{
    fill: #e6fffa !important;
    stroke: #234e52 !important;
    color: #234e52 !important;
}

.graph .status-processing > rect{
    fill: #fffaf0 !important;
    stroke: #c05621 !important;
    color: #c05621 !important;
}

.graph .status-failed > rect{
    fill: #fff5f5 !important;
    stroke: #c53030 !important;
    color: #c53030 !important;
}
